{% extends "layout.html" %}
{% block content %}
<center>
  <h3>Delete Information?</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-body">
        {% for row in crud_data %}
        <form class="form-horizontal" method="POST" action="/delete_info/{{row[0]}}/">
          <div class="box-body">
            <div class="form-group">
              <label class="col-sm-2 control-label">ID Number</label>
              <div class="col-sm-4">
                <input name="idno" value="{{ row[1] }}" type="text" class="form-control" disabled>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Name</label>
              <div class="col-sm-4">
                <input name="name" value="{{ row[2] }}" type="text" class="form-control" disabled>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Course</label>
              <div class="col-sm-4">
                <input name="course" value="{{ row[3] }}" type="text" class="form-control" disabled>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Phone Number</label>
              <div class="col-sm-4">
                <input name="phone" value="{{ row[4] }}" type="text" class="form-control" disabled>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Email Address</label>
              <div class="col-sm-4">
                <input name="email" value="{{ row[5] }}" type="text" class="form-control" disabled>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <a href="/"><button type="button" class="btn btn-default">Cancel</button></a>
            <input name="delete" type="submit" class="btn btn-danger" value="Delete">
          </div>
          {% endfor %}
        </form>
      </div>
    </div>
  </div>
</center>
{% endblock %}