{% extends "layout.html" %}
{% block content %}
<center>
  <br>
    <div class="box-header">
        <a href="/add/">
          <div class = "col-sm-4 offset-sm-9">
            <button type="button" class="btn btn-dark btn-flat">
              <span class=""></span> + Add New information
            </button>
          </div>
        </a>
      </div>
  </br>
    <div class="body">
      <table class="table table-bordered table">
        <thead class="thead-dark" align="center">
          <tr>
            <th >ID Number</th>
            <th >Name</th>
            <th >Course</th>
            <th>Phone Number</th>
            <th>Email Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% if crud_data|length == 0 %}
          <tr>
            <td>No Data</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {% else %}
          <tr>
            {% for row in crud_data %}
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td align="center">
              <a href="/update/{{ row[0]}}">
                <button type="button" class="btn btn-sm btn-dark btn-flat" title="Update"><span class="glyphicon glyphicon-pencil"></span>Update</button>
              </a>
              <a href="/delete/{{ row[0]}}">
                <button type="button" class="btn btn-sm btn-danger btn-flat" title="Delete"><span class="glyphicon glyphicon-remove"></span>Delete</button>
              </a>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</center>

{% endblock %}