{% extends "layout.html" %}
{% block content %}
<center>
  <br>
   <section class="content-header">
    {% for message in get_flashed_messages()%}
    <div class="alert alert-info alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      {{ message }}
    </div>
    {% endfor%}
  </section>
    <div class="box-header">
        <a href="/add/">
          <div class = "col-sm-4 offset-sm-9">
            <button type="button" class="btn btn-dark btn-flat">
              <span class=""></span> + Add New information
            </button>
          </div>
        </a>
      </div>
  </br>
    <div class="body">
      <table class="table table-bordered table">
        <thead class="thead-dark" align="center">
          <tr>
            <th >ID Number</th>
            <th >Name</th>
            <th >Course</th>
            <th>Year Level</th>
            <th>Email Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% if crud_data|length == 0 %}
          <tr>
            <td>No Data</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {% else %}
          <tr>
            {% for row in crud_data %}
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td align="center">
              <a href="/update/{{ row[0]}}">
                <button type="button" class="btn btn-sm btn-dark btn-flat" title="Update">Update</button>
              </a>
              <a href="/delete_info/{{ row[0]}}">
                <button type="button" class="btn btn-sm btn-danger btn-flat" title="Delete" onclick="return confirm('Are You Sure To Delete?')">Delete</button>
              </a>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</center>

{% endblock %}
