{% extends "layout.html" %}
{% block content %}
<center>
  <h3>Update Information</h3>
    <div class="col-md-12">
      <div class="card card-body">
        {% for row in crud_data %}
        <form class="form-horizontal" action="/update_info/{{row[0]}}/" method="POST">
          <div class="form-group">
            <label class="col-sm-2 control-label">ID Number</label>
            <div class = "col-sm-4">
              <input name="idno" value="{{ row[1] }}" type="number" class="form-control" placeholder="ID Number" autocomplete="off" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class = "col-sm-4">
              <input name="name" value="{{ row[2] }}" type="text" class="form-control" placeholder="Name" autocomplete="off" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Course</label>
            <div class = "col-sm-4">
              <input name="course" value="{{ row[3] }}" type="text" class="form-control" placeholder="Course" autocomplete="off" required>
            </div>
          </div>
          <div class="form-g  roup">
            <label class="col-sm-2 control-label">Year Level</label>
            <div class = "col-sm-4">
              <input name="yrlvl" value="{{ row[4] }}" type="number" class="form-control" placeholder="Phone Number" min="0" max="1" autocomplete="off" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Email Address</label>
            <div class = "col-sm-4">
              <input name="email" value="{{ row[5] }}" type="email" class="form-control" placeholder="Email Address" autocomplete="off" required>
            </div>
          </div>
          <div class="box-footer">
            <a href="/"><button type="button" class="btn btn-default">Cancel</button></a>
            <input name="update" type="submit" class="btn btn-dark" value="Update">
          </div>
          {% endfor %}
        </form>
      </div>
    </div>
  </div>
</center>

{% endblock %}
